.button_type_edit{
  width: 100%;
  height: 24px;
  align-self: center;
  border: 1px solid #fff;
  transition: opacity .3s;
  background-image: url('../../../images/edit-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.button_type_edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .button_type_edit {
    height: 18px;
    align-self: end;
  }
}
