.button_type_close {
  width: 40px;
  height: 40px;
  border: none;
  position: fixed;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-image: url('../../../images/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
  transition: opacity .3s;
}

.button_type_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .button_type_close {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 5px;
  }
}
