.cards__like {
  position: absolute;/*вырываем из контекста*/
  /*ниже скрыли стандартный элемент*/
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);/*с нулевыми значениями скрывает элемент полностью*/
}

