.cards__pseudo-like {
    background-image: url('../../../images/like.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 19px;
    margin-right: 5px;
    transition: opacity .2s;
    display: block;
    cursor: pointer;
  }

  .cards__pseudo-like:hover {
    opacity: 0.5;
  }
  
  .cards__pseudo-like::after {
    content: "";
    display: none;
    background-image: url('../../../images/like2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 19px;
  }

  .cards__like:checked + .cards__pseudo-like::after {
    display: block;
  }