.profile__btn-edit{
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  outline: none;
  transition: opacity .3s;
  background-image: url('../../../images/edit-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: -42px;
  padding: 0;
}
  
.profile__btn-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
    right: -28px;
  }
}
  